<div class="bg-[url(/images/background2.png)] bg-cover bg-no-repeat min-h-1/2 min-w-fit">
  <div class="p-[2rem] md:p-[1.5rem] lg:p-[0.5rem]">
    <header class="grid grid-cols-[auto_1fr] mobileL:mx-5 md:mx-10 lg:mx-25 xl:mx-35 2xl:mx-33  items-center gap-1">
      <a routerLink="/dashboard" class="grid grid-cols-[auto_1fr] justify-items-center items-center cursor-pointer">
        <img src="/images/logo.png" alt="Logo"
          class="rounded-full w-13 h-13 md:w-16 md:h-16 lg:w-19 lg:h-19 xl:w-22 xl:h-22 2xl:w-25 2xl:h-25 object-cover" />
        <h1 class="text-white font-semibold text-[clamp(1.2rem,3vw,2rem)]">
          {{title}}
        </h1>
      </a>
      <div class="bg-[#B76EFE]/15 justify-self-end rounded-full p-1 hover:bg-[#B76EFE]/40 text-[#B76EFE] font-bold">
        <img [src]="profileStore.profilepic()" alt="profilepic"
          class="rounded-full w-13 h-13 md:w-13 md:h-13 lg:w-16 lg:h-16 object-cover">
      </div>
    </header>