<div class="p-1 flex flex-col bg-[#323132] w-full">
  @if (firstRecentSong) {
  <h1 class="text-white underline p-3">Recently listened</h1>
  }
  <div class="flex gap-2 items-center overflow-x-auto overscroll-contain custom-scrollbar text-gray-400">
    <p class="text-white text-right w-6 shrink-0">{{(index + 1).toString().padStart(2, '0')}}.</p>
    <img [src]=" img" alt="track img" class="w-25 h-25 rounded-xl">
    <div class="flex flex-col">
      <p class="text-white text-[clamp(1rem,1vw,1rem)]">{{trackName}}</p>
      <p class="text-[#969696] text-[clamp(0.7rem,1.3vw,0.9rem)]">{{artists}}</p>
      <p class="text-[#969696] block xl:hidden text-[clamp(0.8rem,1.1vw,1rem)]">({{plays}} plays)</p>
      <p class="text-[#969696] text-[clamp(0.7rem,1.3vw,0.9rem)]">{{formattedDate}}</p>
    </div>
    <p class="text-[#969696] ml-auto hidden xl:block text-[clamp(0.7rem,1.1vw,0.8rem)]">({{plays}} plays)</p>

  </div>

</div>