<div class="bg-[url(/images/background2.png)] bg-cover bg-no-repeat min-h-1/2 min-w-fit">
  <div class="p-[2rem] md:p-[1.5rem] lg:p-[0.5rem]">
    <header class="grid grid-cols-[auto_1fr] mobileL:mx-5 md:mx-10 lg:mx-25 xl:mx-35 2xl:mx-33  items-center gap-1">
      <a routerLink="/dashboard" class="grid grid-cols-[auto_1fr] justify-items-center items-center cursor-pointer">
        <img src="/images/logo.png" alt="Logo"
          class="rounded-full w-13 h-13 md:w-16 md:h-16 lg:w-19 lg:h-19 object-cover min-w-[50px]" />
        <h1 class="text-white font-semibold text-[clamp(1.2rem,2vw,2rem)]">
          {{title}}
        </h1>
      </a>
      <div
        class="bg-[#B76EFE]/15 justify-self-end relative rounded-full p-1 hover:bg-[#B76EFE]/40 text-[#B76EFE] font-bold min-w-[60px]"
        (click)="uiStore.toggleDropdownVisibility()">
        <img [src]="profilepic" alt="profilepic"
          class="rounded-full w-13 h-13 md:w-13 md:h-13 lg:w-16 lg:h-16 object-cover" />
        @if (uiStore.dropdownvisible()) {
        <app-userdropdown (close)="uiStore.closeDropdown()"></app-userdropdown>
        }
      </div>
    </header>

    <div class="h-full w-[75%] min-w-[200px] mx-auto mt-10">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-0 items-start items-stretch lg:h-[550px]">
        <div class="flex flex-col bg-[#48404A] divide-y divide-[#3D383E] rounded-xl lg:rounded-none lg:rounded-l-xl">
          <div class="flex flex-col p-4">
            <h1 class="text-white text-xl">Your state</h1>
            <div class="flex items-center justify-between py-4 px-5 mt-5">
              @for (decade of decades; track decade.decade) {
              <app-decadecard [year]="decade.decade" [count]="decade.count"></app-decadecard>
              }
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>