@if (listType === 'dashboardRecents') {
<div [ngClass]="isLastItem()" class="p-1 flex flex-col bg-[#323132] w-full">
  @if (firstRecentSong) {
  <h1 class="text-white p-3">{{title}}</h1>
  }
  <div class="flex gap-2 items-center overflow-x-auto overscroll-contain custom-scrollbar text-gray-400">
    <p class="text-white text-right w-6 shrink-0">{{(index + 1).toString().padStart(2, '0')}}.</p>
    <img [src]="img" alt="track img" class="w-25 h-25 rounded-xl">
    <div class="flex flex-col">
      <p class="text-white">{{trackName}}</p>
      <p class="text-[#969696] text-[clamp(0.7rem,1.3vw,0.9rem)]">{{artists}}</p>
      <p class="text-[#969696] block xl:hidden text-[clamp(0.8rem,1.1vw,1rem)]">({{plays}} plays)</p>
      <p class="text-[#969696] text-[clamp(0.7rem,1.3vw,0.9rem)]">{{formattedDate}}</p>
    </div>
    <p class="text-[#969696] ml-auto hidden xl:block text-[clamp(0.7rem,1.1vw,0.8rem)]">({{plays}} plays)</p>

  </div>
</div>
} @else if (listType === 'statisticsList') {
@if (firstRecentSong) {
<h1 class="text-white underline p-3">{{title}}</h1>
}
<div class="flex gap-2 items-center overflow-x-auto overscroll-contain custom-scrollbar text-gray-400">
  <p class="text-white text-right w-6 shrink-0">{{(index + 1).toString().padStart(2, '0')}}.</p>
  <img [src]="img" alt="track img" class="w-10 h-10 rounded-xl">
  <p class="text-white text-[clamp(0.7rem,1vw,0.8rem)]">{{artists}}</p>
  <p class="text-[#969696] ml-auto text-[clamp(0.7rem,1vw,0.8rem)]">({{plays}} plays)</p>
</div>
} @else if (listType === 'lastYearStatistic') {
<div class="flex gap-2 items-center overflow-x-auto overscroll-contain custom-scrollbar text-gray-400">
  <p class="text-white text-right w-6 shrink-0">{{(index + 1).toString().padStart(2, '0')}}.</p>
  <img [src]="img" alt="track img" class="w-3 h-3">
  <div class="flex flex-col">
    <p class="text-white">{{trackName}}</p>
    <p class="text-[#969696] text-[clamp(0.7rem,1vw,0.7rem)]">{{artists}}</p>
  </div>
</div>
} @else if (listType === 'genreList') {
<div class="p-3 flex flex-col bg-[#323132] w-full">
  @if (firstRecentSong) {
  <h1 class="text-white underline p-3">{{title}}</h1>
  }
  <div class="flex flex-row gap-2 items-center overflow-x-auto overscroll-contain custom-scrollbar text-gray-400">
    <p class="text-white text-right w-6 shrink-0">{{(index + 1).toString().padStart(2, '0')}}.</p>
    <p class="text-white">{{genre}}</p>
    <p class="text-[#969696] text-[clamp(0.7rem,1.3vw,0.9rem)]">{{artists}}</p>
    <p class="text-[#969696] text-[clamp(0.8rem,1.1vw,1rem)]">({{plays}} plays)</p>
    <p class="text-[#969696] ml-auto text-[clamp(0.7rem,1.1vw,0.8rem)]">{{genrePercentile}}%</p>

  </div>
</div>
}