<div
  class="flex items-center justify-center cursor-pointer hover:scale-105 transition-transform duration-200 ease-in-out"
  (click)="selectPlaylist(id)">
  <img [src]="img" alt="playlist image"
    class="w-40 h-40 md:h-full md:w-full rounded-2xl hover:shadow-xl/30 hover:shadow-white">
</div>
<h3 class="mt-2 font-semibold text-[#F5F5F5] text-center">{{name}} ({{totalTrack}} tracks)</h3>


@if (playlistSelected) {
<app-confirm-playlist-select (confirmShown)="closeConfirm($event)"></app-confirm-playlist-select>
}