@import 'tailwindcss';

body {
  font-family: 'Montserrat', sans-serif;
}

@theme {
  --breakpoint-accline: 375px;
  --breakpoint-regbutton: 450px;
  --breakpoint-register: 533px;
  --breakpoint-mobileM: 375px;
  --breakpoint-mobileL: 425px;
  --breakpoint-2xlminus: 2040px;
}
