@import 'tailwindcss';

body {
  font-family: 'Montserrat', sans-serif;
}

@import 'tailwindcss';

@theme {
  --breakpoint-accline: 375px;
  --breakpoint-regbutton: 450px;
  --breakpoint-register: 533px;
  --breakpoint-mobileS: 320px;
  --breakpoint-mobileM: 375px;
  --breakpoint-mobileL: 425px;
}

:root {
  --text-normal: #f5f5f5;
  --text-theme: #b76efe;
  --text-bigtitles: #f5f5f5;
  --text-subtext: #ebc8ed;
  --text-other: #f5f5f5;
  --bg-filler: #252525;
}

.light {
  --text-normal: #f5f5f5;
  --text-theme: #b76efe;
  --text-bigtitles: #1a1a1a;
  --text-subtext: #a99db5;
  --text-other: #1a1a1a;
  --bg-filler: #d8d8d8;
}

.text-normal {
  color: var(--text-normal);
}

.text-theme {
  color: var(--text-theme);
}

.text-bigtitles {
  color: var(--text-bigtitles);
}

.text-subtext {
  color: var(--text-subtext);
}

.text-other {
  color: var(--text-other);
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #b76efe66 transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #b76efe66;
  border-radius: 9999px;
  border: none;
}

.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
}

.scrollbar-gutter-stable {
  scrollbar-gutter: stable both-edges;
}

.scrollbar-overlay {
  scrollbar-gutter: stable overlay;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: rgba(183, 110, 254, 0.4);
}

html,
body {
  background-color: var(--bg-filler);
  margin: 0;
  padding: 0;
  height: 100%;
}
