@import 'tailwindcss';

body {
  font-family: 'Montserrat', sans-serif;
}

@theme {
  --breakpoint-accline: 375px;
  --breakpoint-regbutton: 450px;
  --breakpoint-register: 533px;
  --breakpoint-mobileS: 320px;
  --breakpoint-mobileM: 375px;
  --breakpoint-mobileL: 425px;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #b76efe66 transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #b76efe66;
  border-radius: 9999px;
  border: none;
}

.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
}

.scrollbar-gutter-stable {
  scrollbar-gutter: stable both-edges;
}

.scrollbar-overlay {
  scrollbar-gutter: stable overlay;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: rgba(183, 110, 254, 0.4);
}
