@import 'tailwindcss';

body {
  font-family: 'Montserrat', sans-serif;
}

@theme {
  --breakpoint-accline: 375px;
  --breakpoint-regbutton: 450px;
  --breakpoint-register: 533px;
  --breakpoint-mobileM: 375px;
  --breakpoint-mobileL: 425px;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #b76efe66 transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #b76efe66;
  border-radius: 9999px;
  border: none;
}

.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
}
