<div class="fixed top-0 left-0 bg-black/40 w-full h-full"></div>
<div class="fixed flex items-center justify-center inset-0">
  <div
    class="flex flex-col items-center bg-gradient-to-br from-[#625c64] to-[#312b38] border-[#58525A] p-8 rounded-xl"
  >
    <h1 class="text-center text-[#B76EFE] text-[clamp(1rem,2vw,1.5rem)]">
      <span class="text-white no-underline">Do you want to select playlist</span
      ><br />
      <u>{{ playlistStore.selected()?.name }}</u
      ><span class="text-white">?</span>
    </h1>
    <img
      class="w-40 h-40 md:w-43 md:h-43 lg:w-47 lg:h-47 xl:w-50 xl:h-50 2xl:w-53 2xl:h-53 object-cover my-5"
      [src]="playlistStore.selected()?.img"
      alt="playlist img"
    />
    <div class="w-3/4 h-px bg-gray-500 mt-2"></div>
    <div class="flex items-center justify-center gap-10 mt-4">
      <button
        class="bg-[#FE5C64]/15 text-[#FE5C64] hover:bg-[#FE5C64]/30 font-bold px-4 py-2 rounded-2xl cursor-pointer text-[clamp(1rem,2vw,1.3rem)]"
        (click)="closePlaylistSelect()"
      >
        no
      </button>
      <a routerLink="/playlistclean">
        <button
          class="bg-[#B76EFE]/15 text-[#B76EFE] hover:bg-[#B76EFE]/40 font-bold px-4 py-2 rounded-2xl cursor-pointer text-[clamp(1rem,2vw,1.3rem)]"
        >
          yes
        </button></a
      >
    </div>
  </div>
</div>
