<div class="absolute right-0 bg-[#38313A] rounded-md py-2 mt-2" (click)="$event.stopPropagation()">
  <div class="flex flex-col gap-3 items-center p-3 sm:p-0 sm:items-start text-white font-normal">
    <p class="pr-0 px-0 sm:px-3 sm:pr-20 cursor-pointer" routerLink="/profile">Profile</p>
    <p class="pr-0 px-0 sm:px-3 sm:pr-20">Settings</p>
    <p class="pr-0 px-0 sm:px-3 sm:pr-20">Plus</p>
    <p class="pr-0 px-0 sm:px-3 sm:pr-20 cursor-pointer" routerLink="/dashboard">Dashboard</p>
    <div class="h-px w-full bg-[#463F48]"></div>
    <p class="pr-0 px-0 sm:px-3 sm:pr-20">Log out</p>
  </div>
</div>