<div class="flex flex-col min-h-screen bg-filler">
  <div [ngClass]="settingStore.background()" class="bg-cover bg-no-repeat min-h-1/2 min-w-fit">
    <div class="p-[2rem] md:p-[1.5rem] lg:p-[0.5rem]">
      <header class="grid grid-cols-[auto_1fr] mobileL:mx-5 sm:mx-10 md:mx-20 lg:mx-30 xl:mx-40 2xl:mx-50 items-center">
        <a routerLink="/dashboard" class="grid grid-cols-[auto_1fr] justify-items-center items-center cursor-pointer">
          <img src="/images/logo.png" alt="Logo"
            class="rounded-full w-13 h-13 md:w-16 md:h-16 object-cover min-w-[50px] mr-2" />
          <h1 class="text-bigtitles font-medium text-[clamp(1.2rem,2vw,1.5rem)]">
            {{title}}
          </h1>
        </a>
        <div
          class="bg-[#B76EFE]/15 justify-self-end relative rounded-full p-1 hover:bg-[#B76EFE]/40 text-theme font-bold min-w-[60px]"
          (click)="uiStore.toggleDropdownVisibility()">
          <img [src]="profileStore.profilepic()" alt="profilepic" class="rounded-full w-13 h-13 object-cover" />
          @if (uiStore.dropdownvisible()) {
          <app-userdropdown (close)="uiStore.closeDropdown()"></app-userdropdown>
          }
        </div>

      </header>

      <div class="h-full w-[75%] min-w-[200px]  mx-auto mt-10">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-0 items-start items-stretch">
          <div class="flex flex-col bg-[#48404A] divide-y divide-[#3D383E] rounded-xl lg:rounded-none lg:rounded-l-xl">
            <div
              class="grid grid-col lg:grid-cols-[auto_1fr] justify-items-center items-center gap-2 p-8 cursor-pointer hover:bg-[#544b57]"
              routerLink="/playlists">
              <img [src]="randomPlaylistImg" alt="playlist image" routerLink="/playlists"
                class="rounded-2xl w-28 h-28 md:w-32 md:h-32 lg:w-36 lg:h-36 xl:w-40 xl:h-40 2xl:w-44 2xl:h-44">
              <div class="flex flex-col">
                <h1 class="text-normal underline text-center font-medium lg:text-start text-[clamp(1rem,1.5vw,2rem)]">
                  Playlist-cleaner</h1>
                <p class="text-normal text-center font-medium lg:text-start text-lg"> 7 Uses left</p>
              </div>
            </div>
            <div class="grid grid-row grid-cols-4 lg:grid-cols-[auto_1fr_1fr] p-6 justify-items-center lg:justify-items-start items-center 
            gap-2 cursor-pointer hover:bg-[#544b57]">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="#865a8f"
                class="w-10 h-10 lg:w-15 lg:h-15 col-start-1 mobileM:col-start-2 col-span-2 mobileM:col-span-1 lg:col-start-1 sm:justify-self-end sm:mr-5">
                <path
                  d="M313.33-80q-27 0-46.83-19.83-19.83-19.84-19.83-46.84v-100h-100q-27 0-46.84-19.83Q80-286.33 80-313.33V-390h66.67v76.67h100v-333.34q0-27 19.83-46.83t46.83-19.83h333.34v-100H570V-880h76.67q27 0 46.83 19.83 19.83 19.84 19.83 46.84v100h100q27 0 46.84 19.83Q880-673.67 880-646.67v500q0 27-19.83 46.84Q840.33-80 813.33-80h-500Zm0-66.67h500v-500h-500v500ZM80-483.33v-160h66.67v160H80Zm0-253.34v-76.66q0-27 19.83-46.84Q119.67-880 146.67-880h76.66v66.67h-76.66v76.66H80Zm236.67-76.66V-880h160v66.67h-160Zm-3.34 666.66v-500 500Z" />
              </svg>

              <h2 class="text-normal underline font-medium text-[clamp(1rem,1.5vw,1.2rem)]">Duplicate-remover</h2>

            </div>

            <div class="flex flex-col p-6 items-center font-medium gap-5 border-b-0 mt-8">
              <h2 class="text-normal text-center text-lg">Total songs cleaned<br /> with
                WaveSpacer</h2>
              <div class="px-4 py-1 rounded-full bg-[#B76EFE]/15 text-theme text-xl">22</div>
              <h2 class="text-normal text-center text-lg">Duplicate songs removed<br /> with
                WaveSpacer</h2>
              <div class="px-4 py-1 rounded-full bg-[#B76EFE]/15 text-theme text-xl">40</div>

            </div>
            <div class="bg-[#5B475F] flex justify-center rounded-b-xl lg:rounded-none lg:rounded-bl-xl mt-auto">
              <p class="text-theme text-center font-medium my-auto text-[clamp(1rem,1vw,2.5rem)] py-3"><span
                  class="text-normal">
                  You have been connected<br />
                  to WaveSpacer for</span> {{daysSinceRegister.toFixed(0)}} <span class="text-normal">days</span>
              </p>
            </div>
          </div>
          <div
            class="flex flex-col bg-[#3D383E] divide-y divide-[#8080803B] mt-6 lg:mt-0 rounded-xl lg:rounded-none lg:rounded-r-xl max-h-[800px]">
            <div class="flex flex-col gap-3 hover:bg-[#474547] cursor-pointer" routerLink="/statistics">
              <h1 class="text-normal text-center font-medium mt-6 text-[clamp(1rem,1.2vw,1.5rem)]">Your statistics</h1>
              <div class="w-full h-[200px]">
                <canvas id="genreChart" aria-label="Genre chart" role="img">
                  {{chart}}
                </canvas>
              </div>
              <p class="self-end underline px-6 text-normal font-medium mb-3">View statistics →</p>
            </div>
            @if (!uiStore.lastmonthfavvisible()) {
            <div class="flex flex-col px-6 py-3 gap-4 items-start border-b-0 cursor-pointer hover:bg-[#474547]"
              (click)="uiStore.toggleLastMonthVisible()">
              <h1 class="text-normal underline text-[clamp(1rem,1.2vw,1.5rem)]">Your favorite from last month</h1>
              <div class="flex items-center gap-6">
                <img [src]="recentlistensStore.lastMonthFav().track_img" alt="Song image" class="w-20 h-20 rounded-xl">
                <div class="flex flex-col max-w-xs overflow-hidden">
                  <p class="text-normal text-sm">{{recentlistensStore.lastMonthFav().name}}</p>
                  <p class="text-normal text-sm">
                    {{recentlistensStore.lastMonthFav().artist_names}}</p>
                </div>
              </div>
              <p class="text-normal underline self-end">Learn more →</p>
            </div>
            } @else {
            <div class="px-6 py-3 border-b-0 cursor-pointer hover:bg-[#474547]"
              (click)="uiStore.toggleLastMonthVisible()">
              <div class="flex flex-col md:flex-row items-center gap-6">
                <img [src]="recentlistensStore.lastMonthFav().track_img" alt="Song img" class="w-20 h-20 rounded-xl">
                <div class="grid grid-cols-1 items-center gap-2">
                  <div class="flex flex-col font-medium max-w-xs overflow-hidden md:text-center">
                    <p class="text-normal text-sm">Track name: {{recentlistensStore.lastMonthFav().name}}</p>
                    <p class="text-normal text-sm md">
                      Artist names:
                      {{recentlistensStore.lastMonthFav().artist_names}}</p>
                  </div>
                  <div class="flex flex-col font-medium max-w-xs overflow-hidden md:text-center">
                    <p class="text-normal text-sm">Track duration:
                      {{msToMinSec(recentlistensStore.lastMonthFav().duration)}}</p>
                    <p class="text-normal text-sm">Plays:
                      {{recentlistensStore.lastMonthFav().plays}}</p>
                  </div>
                  <div class="flex flex-col font-medium md:flex-row max-w-xs overflow-hidden md:text-center">
                    <p class="text-normal text-sm">Track genres: {{recentlistensStore.lastMonthFav().genres}}</p>
                    <p class="text-normal text-sm">Last time played:
                      {{lastTimePlayed}}</p>
                  </div>
                </div>
              </div>

            </div>
            }
            <div class=" flex flex-col gap-1 overflow-y-auto overscroll-contain custom-scrollbar scrollbar-overlay">
              @for (song of recentlistensStore.recents().slice(0,20); track song.listenedAt; let i = $index) {
              <app-songlisting [img]="song.track_image" [trackName]="song.name" [artists]="song.artist_names"
                [plays]="song.amount" [listenedAt]="song.listenedAt" [listType]="'dashboardRecents'"
                [title]="'Recently listened'" [index]="i" [titled]="i < 1" [lastItem]="i > 18"></app-songlisting>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
